.alike-angular-regular {
  font-family: "Alike Angular", serif;
  font-weight: 400;
  font-style: normal;
}

.hind-vadodara-light {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-vadodara-semibold {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-vadodara-bold {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
    max-width: 100%;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 10px;
}

body {
  background-color: #131313;
  color: #E7E7E7;
}

header {
  margin: 0;
  height: 226px;
}

.navtop {
  display: flex;
  padding-top: 24px;
margin-left: 100px;
margin-right: 100px;
align-items: center;
}

span {
font-size: 1.6rem;
}

form {
    display: flex;
    position: relative;
    width: 1026px;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    border: 1px solid #8D8B8B;
    border-radius: 30px;
    font-size: 1.2rem;
    align-items: center;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 36px;
    padding-left: 50px;
  }
input::placeholder {
  color: #CACACA;
}
  button {
    height: 14px;
    width: 14px;
    padding-right: 40px;
    cursor: pointer;
  }
  button:before {
    content: url("foto/search.svg");
  }

  .soc {
    width: 111px;
    height: 29px;
    display: flex;
    gap: 12px;
  }

header h1 {
  font-family: "Alike Angular", serif;
  font-size: 3.6rem;
  width: 320px;
  height: 65px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
word-spacing: 70px;
background-image: url(foto/logo.png);
background-repeat: no-repeat;
background-position: 127px 50%;
color: #F7F7F7;
}

nav {
  font-size: 1.8rem;
  font-weight: 600;
}

ul {
  display: flex;
justify-content: space-around;
margin-left: 200px;
margin-right: 200px;
margin-top: 30px;
}

.active {
  color: #E8CF36;
  border-bottom: 2px solid #E8CF36;
  padding-bottom: 10px;
}

ul a {
  color: #E7E7E7;
}

nav a:hover {
  color: #E8CF36;
  border-bottom: 2px solid #E8CF36;
  padding-bottom: 10px;
}

.dimond {
  background-image: url(foto/Rectangle.jpg);
  height: 588px;
  background-size: cover;
}

.dimflex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
  gap: 150px;
}

.dimflex img {
  transform: rotate(-7.77deg);
}

.dimtext {
  width: 517px;
  height: 190px;
}

.dimtext h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #F4F4F4;
}

.dimtext span {
  color: #E8CF36;
  font-size: 3.6rem;
}

.dimtext p {
  margin-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.button > a {
  color: #E8CF36;
  outline: none;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  padding: 9px 29px;
  text-align: center;
  width: 168px;
  margin-top: 35px;
  border: 1px solid #E8CF36;
  border-radius: 8px;
}

.button a:hover {
  color: #0f0f0f;
  background: #E8CF36;
}

.dimond > img {
  display: block;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
}

main .container {
  margin-left: auto;
  margin-right: auto;
 max-width: 1700px;
}

main .container ul {
  margin-top: 75px;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

main .container ul .gray {
  flex: 1;
  height: 213px;
  background-color: #2D2D2D;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main ul .gray .lidiv1 {
  width: 185px;
  height: 112px;
}

main ul .gray .lidiv1 p {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
}

main ul .gray .lidiv1 .lip {
  color: #E8CF36;
  font-size: 1.6rem;
  margin-top: -10px;
  padding-bottom: 10px;
}

.top {
  margin-top: 50px;
}

.container .top h2 {
  font-size: 2.4rem;
  width: 153px;
  font-weight: 600;
  color: #F4F4F4;
}

.container .top .similiar {
  width: 190px;
  display: flex;
  justify-content: space-around;
  float: right;
  padding-top: 7px;
}

.similiar > a {
  outline: none;
  text-decoration: none;

}

.similiar p {
  font-size: 1.6rem;
  color: #E8CF36;
  padding-top: 2px;
}

.container .top ul {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.container .top ul li {
  width: 275px;
  border: 2px solid #838181;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15px;
}

.container .top ul li .jewelry {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.container .top ul li p {
  font-size: 1.4rem;
  margin-left: 25px;
  margin-right: 25px;
  word-spacing: 1.8px;
  line-height: 1;
}

.container .top ul li .price p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.container .top ul li .price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.rate {
display: flex;
gap: 2px;
}

.silver {
  height: 312px;
  margin-top: 50px;
  background-color: #242424;
}

.woman {
float: right;
}

.earrings {
  float: left;
  padding: 39px;
}

.silvertext {
  width: 605px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
}

.silvertext h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 2.4rem;
  width: 300px;
  text-align: center;
  font-weight: 600;
  color: #F4F4F4;
}

.similiar > svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

 svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.silvertext p {
  margin-top: 25px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 1.3px;
  letter-spacing: 1.2px;
}

.silvertext .silvera {
  font-size: 1.6rem;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
}

.silvertext .silvera a {
  color: #E8CF36;
  text-decoration: underline;
}

.category {
  margin-top: 30px;
}

.catgen {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  color: #E8CF36;
}
.catgenp {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  word-spacing: 1.4px;
  letter-spacing: 1.1px;
}

.container .category ul {
  display: grid;
  grid-template-columns: repeat(5, 228px);
  grid-column-gap: 140px;
  grid-row-gap: 30px;
  margin-top: 35px;
}

.category ul li {
  height: 276px;
  border: 2px solid #838181;
  border-radius: 10px;
}

.category .h {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 7px;
  color: #E8CF36;
}

.category .explore {
text-align: center;
margin-top: 5px;
word-spacing: 1.2px;
}

.gender {
  margin-top: 30px;
}

.container .gender ul {
display: flex;
justify-content: space-between;
margin-top: 35px;
}

.container .gender ul li {
  width: 420px;
  height: 364px;
  border: 2px solid #838181;
  border-radius: 10px;
}

.genderdiv {
  margin: auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.gender .genderdiv .genderp {
font-size: 1.8rem;
color: #E8CF36;
}

.gender .genderdiv .exploremore {
font-size: 1.2rem;
}

.foot {
  background-color: #242424;
  margin-top: 75px;
  height: 467px;
}

main .foot .articlefoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 195px;
}

main .foot .articlefoot .gift {
width: 538px;
height: 324px;
}

main .foot .articlefoot .store {
width: 524px;
height: 267px;
}

main .foot .articlefoot .gift img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .foot .articlefoot h2 {
font-size: 2.4rem;
text-align: center;
margin-top: 5px;
color: #F4F4F4;
}

main .foot .articlefoot p {
  font-size: 1.2rem;
  word-spacing: 1.4px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

main .foot .articlefoot .store .button > a {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 60px;
  margin-bottom: 30px;
}

footer .ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 2px solid #838181;
}

footer .ul ul {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

footer .ul ul > p {
  font-size: 2.4rem;
  color: #E8CF36;
}

footer .ul ul li:first-of-type {
  margin-top: 40px;
}

footer .ul ul li {
  font-size: 2.0rem;
  margin-bottom: 10px;
  letter-spacing: 1.1px;
  position: relative;
}

footer .ul ul li > svg {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 0;
}

footer .ul ul li > p {
  margin-left: 50px;
}

footer .ul ul li > img {
  margin-left: 0;
  margin-right: 0;
  display: inline;
  gap: 20px;
}

footer .ul ul .flexli {
  display: flex;
  align-items: center;
  width: 243px;
  justify-content: space-between;
  margin-top: 35px;
}

footer .ul ul li > .flexp {
  font-size: 1.6rem;
  color: #E8CF36;
  margin-left: 0;
}

footer .ul ul .flexli > .soc {
  gap: 6px;
}

footer .ul ul .flexli > .soc img {
  max-width: 90%;
}

footer a:hover {
  color: #E8CF36;
}

footer > p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}